<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>event</title>
</head>
<body>
  <h1>edit event</h1>
  <form action="<%=event%>?_method=PUT" method="POST">
    <label for="label">label:</label>
    <input type="text" name="label" id="label" value="<%=eve.label%>" />
    <label for="starttime">start time:</label>
    <input type="time" name="starttime" id="starttime" value="<%=eve.starttime%>"  required />
    <label for="endtime">end time:</label>
    <input type="time" name="endtime" id="endtime" value="<%=eve.endtime%>"  />
    <label for="description">description:</label>
    <input type="text" name="description" id="description" value="<%=eve.description%>"/>
    <button type="submit">add</button>
  </form>
  <form action="<%=event%>?_method=DELETE" method="POST">
        <button type="submit">Delete this item</button>
    </form>
</body>
</html>


















